#header, html, body{
    height: 10%;
    display:flex;
    padding: 2px;
    box-sizing: border-box;
}
#header{
  padding: 10px;
}


#content, html, body {
    height: 99.5%;
}
#left {
    float: left;
    width: 60%;
    height: 100%;
    overflow: scroll;
    padding: 25px;
    box-sizing: border-box;
    background: #f2f2f2;
}
#right {
    float: left;
    width: 40%;
    height: 100%;
    overflow: scroll;
    padding: 25px;
    box-sizing: border-box;
    border-style: solid;
    border-color: lightgray;
    border-width:thin;
}

mark {
  background-color: #d98cd9;
  color: black;
}

img {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}