#header, html, body{
    height: 10%;
    display:flex;
    padding: 2px;
    box-sizing: border-box;
}

#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 60%;
    height: 100%;
    overflow: scroll;
    padding: 25px;
    box-sizing: border-box;
    background: #f2f2f2;
}
#right {
    float: left;
    width: 40%;
    height: 100%;
    overflow: scroll;
    padding: 25px;
    box-sizing: border-box;
    border-style: solid;
    border-color: lightgray;
    border-width:thin;
}

mark {
  background-color: #d98cd9;
  color: black;
}

img {
    float: left;
    width: 150px;
    height: auto;
    margin-right: 15px;
}

.numbered {
  width: 200px;
  counter-reset: custom-counter;
}
p {
  display: table;
}
p:not(:first-child):before {
  counter-increment: custom-counter+1;
  content: counter(custom-counter)"... ";
  display: table-cell;
  color: #aaa;
}
p:first-child:before {
  display: table-cell;
  color: #aaa;
  content: '1. '
}