#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 50%;
    /*background: red;*/
    height: 100%;
    overflow: scroll;
    border-radius:10px;
}
#right {
    float: left;
    width: 50%;
    /*background: blue;*/
    height: 100%;
    overflow: scroll;
    border-radius:10px;
}